[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "caffsim"]
	path = caffsim
	url = https://github.com/asancpt/caffsim
	shallow = true
	registered = true
